
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}
.container{
    max-width: 1440px;
    margin-left:10%;
    width: 80%;
    @media (max-width:408px) {   
        margin-left: 5%;
        width: 90%;
    }
    @media (max-width:763px) {   
        margin-left: 6%;
        width: 88%;
    }
}
.row{
    display: flex;
    justify-content: space-between;
}

body{
    color: #575445;
}

.menu{
    &_icon{
        margin-top: 20px;
        display: block;
        width: 40px;
        height: 30px;
        z-index: 5;
        position: relative;
        cursor: pointer;
        span{
            position: absolute;
            top: calc(50%);
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #575445;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top:10px;
            }
            &:nth-child(3){
                top: 20px;
            }
        }
        &.active{
            span{
                transform: scale(0);
                &:first-child{
                    transform: rotate(-45deg);
                    top: calc(50%);
                }
                &:last-child{
                    transform: rotate(45deg);
                    top: calc(50%);
                }
            }
        }
    }
    &_body{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #e6e4be ;
        opacity: 0.8;
        display: flex;
        &.active{
            left: 0;
            transition: all .8s;
        }
    }

    &_list{
        list-style-type: none;
        display: flex;
        gap: 30px;
        flex-direction: column;
        gap: 0;
        margin: auto;
        padding: 30px;
    }

    &_link{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        display: block;
        font-size: 30px;
        line-height: 70px;
        color: #575445;
    }
}


.header{
    height: 10vh;
    img{
        height: 9vh;
    }
}


.main{
    background: url(../img/bg_main.png) no-repeat center center / cover;
    height: 90vh;
    &_block{
        padding-top: 318px;
        @media (max-width:408px) {
            padding-top: 100px;
        }
    }
    &_title{
        color: #E6B939;
        letter-spacing: 2px;
        line-height: 20px;
        font-size: 20px;
        @media (max-width:408px) {
            line-height: 10px;
            
            font-size: 15px;
            letter-spacing: 5px;
        }
    }
    &_text{
        color: #FFF8D4;
        font-size: 40px;
        margin-top: 20px;
        line-height: 40px;
        @media (max-width:408px) {
            line-height: 35px;
            font-size: 20px;
        }
    }
}

.about{
    margin-bottom: 100px;
    @media (max-width:408px) {
        background: url(../img/about_img.png);
        padding-top: 10px;
        }
    &_wrap{
        display: flex;
        margin-top: 100px;
        gap: 100px;
        @media (max-width:763px) {
            gap: 60px;
        }
    }
    &_imgg{
        @media (max-width:763px) {
            width: 300px;
        }
        @media (max-width:408px) {
            margin: 30px;
        display: none;
        }
    }
    &_block2{

        margin-top: 115px;
        width: 390px;
        @media (max-width:763px) {
            margin-top: 70px;
        }
        @media (max-width:408px) {
            margin-left: -40px;
            margin-top: -50px;
            padding-bottom: 100px;
        }
        
    }
    p{
        @media (max-width:763px) {
            font-size:10px ;
            line-height:10px ;
            width: 200px;
        }
        @media (max-width:408px) {
            width: 200px;
            font-size: 10px;
            color: #b5af96;
            font-weight: 700;
            line-height: 20px;
        }

    }
    h2{
        color: #E6B939;
        line-height: 19px;
        font-size: 25px;
        text-transform: uppercase;
        @media (max-width:763px) {
            font-size:15px ;
            line-height:10px ;
        }
    }
    h1{
        line-height: 43px;
        font-size: 36px;
        margin-bottom: 6px;
        @media (max-width:763px) {
            font-size:26px ;
            line-height:33px ;
        }
    }
    a{
        text-decoration: none;
        color: #575445;
        @media (max-width:763px) {
            font-size: 10px;
            line-height: 10px;
            color: #ceb46d;
        }
    }
    &_link{
        margin-top: 25px;
    }
    &_img{
        margin-left: 7px;
        @media (max-width:763px) {
            width: 10px;
        }
    }
}

.advantages{
    padding-top: 100px;
    padding-bottom: 50px;
    h1{
        color: #E6B939;
        font-size: 30px;
        line-height: 20px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 100px;
    }
    background-color: #FAFAFC;
    &_block{
        display: flex;
        justify-content: space-between;
        @media (max-width:408px) {   
            display: block;
        }
    }
    &_block1{
        display: flex;
        justify-content: space-between;
        @media (max-width:408px) {   
            display: block;
        }
    }
    &_box{
        height: 275px;
        text-align: center;
        max-width: 373px;
        &-title{
            font-size: 20px;
            line-height: 24px;
            color: #575445;
        }
        &-text{
            @media (max-width:408px) {   
                text-align: center;
                max-width: 350px;
            }
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
            max-width: 290px;
        }
    }
}

.katalog{
    &_title{
        color: #E6B939;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
    }
    &_title2{
        margin-top: 25px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 85px;
    }
    padding-top: 100px;
    padding-bottom: 150px;
    &_title_block{
        text-align: center;
    }
    &_block{
        display: flex;
        text-align: center;
        gap: 15px;
        margin-bottom: 16px;
        justify-content: center;
    }
    &_box{
        border-radius: 10px;
        height: 489px;
        width: 379px;
        &:hover{
            transition: 0.8s;
            scale: 0.9;
        }
        @media (max-width:408px) {   
            height: 300px;
        }
        &_1{
            background: url(../img/Accessories.png) no-repeat center center / cover;
        }
        &_2{
            background: url(../img/outfit.png)no-repeat center center / cover;
        }
        &_3{
            background: url(../img/alp.png)no-repeat center center / cover;
        }
        &_4{
            background: url(../img/head_wear.png)no-repeat center center / cover;
        }
        &_5{
            background: url(../img/Hiking.png)no-repeat center center / cover;
        }
        &_6{
            background: url(../img/jackets.png)no-repeat center center / cover;
        }
        &_text{
            font-size: 20px;
            line-height: 22px;
            @media (max-width:408px) {   
            font-size: 10px;
            line-height: 12px;
            }
        }
        &_title{
            font-size: 25px;
            margin-top: 40px;
            margin-bottom: 10px;
            line-height: 34px;
            @media (max-width:408px) {   
                font-size: 15px;
                line-height: 20px;
            }
        }
    }
    &_link{
        text-align: center;
    }
}

.newsletter{
    background-color: #375C58;
    background-image: url(../img/shapes.png);
    &_title{
        color: #E6B939;
        font-size: 36px;
        line-height: 43px;
        padding-top: 70px;
        margin-bottom: 8px;
        @media (max-width:408px) {   
            font-size: 15px;
            line-height: 20px;
            padding-top: 50px;
        }
    }
    &_text{
        color: #FAFAFC;
        font-size: 20px;
        line-height: 20px;
        align-items: center;
        display: inline-flex;
        width: 538px;
        @media (max-width:408px) {   
            font-size: 10px;
            line-height: 20px;
            width: 338px;
        }
    }
    &_block{
        text-align: center;
    }
    &_btn{
        text-align: center;
        margin-top: 55px;
        padding-bottom: 100px;
        @media (max-width:408px) {   
            padding-bottom: 50px;
            margin-top: 30px;
        }
    }
    &_button{
        color: #fff;
        background: #575445;
        border: none;
        padding: 8px 15px 11px 15px;
        border-radius: 10px;
        margin-left: -120px;
        &:hover{
            background: white;
            color: #575445;
            transition: 0.6s;
            scale: 0.9;
        }
        @media (max-width:408px) {   
            padding: 5px 12px 8px 12px;
            font-size: 10px;
            margin-left: -100px;
        }
    }
    &_input{
        padding: 17px 342px 19px 18px;
        border-radius: 8px;
        border: none;
        background: #E5E7EB;
        @media (max-width:408px) {   
            padding: 10px 142px 12px 11px;
        }
    }
}

.reviews{
    margin-top: 180px;
    @media (max-width:408px) {   
            margin-top: 80px;
    }
    h6{
        font-size: 14px;
        line-height: 20px;
        color: #E6B939;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h5{
        font-size: 36px;
        line-height: 43px;
    }
    &_text{
        width: 560px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        @media (max-width:408px) {   
            width: 360px;
        }
    }
    &_wrap{
        display: flex;
        gap: 32px;
        @media (max-width:408px) {   
            display: block;
        }
    }
    &_block{
        margin-bottom: 30px;
        @media (max-width:408px) {   
            img{
                max-width: 350px;
            }
        }
        &_text{
            margin-bottom: 20px;
            margin-top: 18px;
            font-size: 20px;
            line-height: 24px;
            &-1{
                color: #E6B939;
            }
            @media (max-width:408px) {   
                font-size: 15px;
                line-height: 13px;
            }
        }
        &_box{
            justify-content: space-between;
            display: flex;
            &_1{
                display: flex;
                &_0{
                    margin-left: 12px; 
                }    
            }     
        }
        &:hover{
            transition: 0.7s;
            scale: 0.9;
        }  
    }
    &_link{
        text-align: center;
        margin-top: 20px;
        a{
            text-decoration: none;
            color: #575445;
        }
    }
    &_logo{
        text-align: center;
        margin-top: 62px;
        margin-bottom: 28px;
    }
}

.footer{
    @media (max-width:408px) {   
padding-top: 100px;
    }
    padding-top: 220px;
    padding-bottom: 100px;
    li{
        list-style: none;
        margin-bottom: 9px;
    }
    .footer_block_text{
        margin-bottom: 9px;
        color: #E6B939;
        font-size: 18px;
        line-height: 10px;
        letter-spacing: 2px;
    }
    &_block{
        margin-bottom: 50px;
    }
    background: #575445;
    color:white ;
    &_wrap{
        display: flex;
        justify-content: space-between;
        @media (max-width:408px) {   
            display: block;
        }
    }
    &_text{
        margin-top: 30px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }

}